.banner {
    background: var(--blue-gradient);
    color: var(--white);
    text-align: center;
    padding: 2rem 1.5rem;
    line-height: normal;
}

.banner__title {
    font-weight: var(--bold);
    font-size: 1.125rem;
}

.banner__par {
    font-weight: var(--medium);
    margin: 0.5rem 0 1.5rem 0;
}

.banner__search {
    color: var(--white);
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 24px;
    background-color: transparent;
    padding: 0.6rem 1.5rem;
}

.banner__search::placeholder {
    font-family: var(--main-font);
    font-weight: var(--regular);
    font-size: 0.875rem;
    text-align-last: center;
    color: var(--white);
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: auto 85%;
}

.banner__search:focus::placeholder {
    color: transparent;
    background-image: none;
}

@media screen and (min-width: 1024px) {
    .banner__title {
        font-size: 2.25rem;
    }

    .banner__search {
        width: 45%;
    }

    .banner__search::placeholder {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1728px) {
    .banner {
        padding: 5.5em 0;
    }

    .banner__search {
        width: 35%;
    }

}