.contact {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 1.5rem;
    line-height: normal;
    font-family: var(--main-font);
}

.contact__title,
.contact__par {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contact__title {
    font-weight: var(--medium);
    font-size: 1.125rem;
}

.contact__par {
    font-weight: var(--light);
    font-size: 1rem;
    margin: 0.5rem 0 1.5rem 0;
}

.contact__mail {
    --empty: var(--white);
    width: inherit; 
    background: linear-gradient(var(--empty), var(--empty)) padding-box,
                var(--blue-gradient) border-box;
    border: 1px solid transparent;
    border-radius: 24px;
    padding: 0.6rem 1.5rem;
    /* background-position: 0; */
    /* background-repeat: no-repeat; */
}

.contact__mail::placeholder {
    color: var(--blue-primary);
    font-family: var(--main-font);
    font-size: 1rem;
    padding: 2rem;
    background-image: url('../img/mail_black.svg');
    background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact__description {
        width: 32%;
    }

    .contact__title {
        font-size: 1.5rem;
    }

    .contact__mail {
        width: 32%;
        /* margin: 0 auto; */
    }
}