.topics {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--blue-gradient);
}

.topics__title {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: var(--light);
    font-size: 1rem;
    line-height: normal;
    margin: 2rem;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__list__item {
    gap: 0;
    margin: 1.5rem 0.5rem;
}

.topics__link {
    color: var(--white);
    background-color: var(--orange);
    text-align: center;
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: var(--bold);
    font-size: 0.875rem;
    padding: 1rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    .topics__title {
        font-size: 1.5rem;
    }

    .topics__link {
        font-size: 1.5rem;
    }

    .topics__list__item {
        margin: 2.25rem 0.75rem;
    }
}

@media screen and (min-width: 1728px) {
    .topics {
        padding: 3em 30vw;
    }
}